<div class="task-div">
        <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex="100" class="master-fixed-header">
                        <div fxLayout="row" class="dc-th">
                                <div fxFlex="10">NAME</div>
                                <div fxFlex="10">TITLE</div>
                                <div fxFlex="10">MOBILE</div>
                                <div fxFlex="10">DOB</div>
                                <div fxFlex="10">CURR TECH</div>
                                <div fxFlex="10">CTC</div>
                                <div fxFlex="10">ECTC</div>
                                <div fxFlex="10">NOTICE</div>
                                <div fxFlex="15">REMARKS</div>
                                <div fxFlex="5" class="text-right">ACTION</div>
                        </div>
                </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex="100">
                        <div class="dc-card" *ngFor="let value of masterData">
                                <div fxLayout="row" fxLayoutWrap="wrap" class="dc-row">
                                        <div fxFlex="10">{{value.name}}</div>
                                        <div fxFlex="10">{{value.title}}</div>
                                        <div fxFlex="10">{{value.mobile}}</div>
                                        <div fxFlex="10">{{value.dob}}</div>
                                        <div fxFlex="10">{{value.curr_tech}}</div>
                                        <div fxFlex="10">{{value.ctc}}</div>
                                        <div fxFlex="10">{{value.ectc}}</div>
                                        <div fxFlex="10">{{value.notice}}</div>
                                        <div fxFlex="15">{{value.remarks}}</div>
                                        <div fxFlex="5" class="text-right">
                                                <button mat-icon-button [mat-menu-trigger-for]="actionMenu"
                                                        class="cust-action-btn dc-tab-btn">
                                                        <mat-icon>more_horiz</mat-icon>
                                                </button>
                                                <mat-menu #actionMenu="matMenu" class="cust-mat-menu">
                                                        <button mat-menu-item (click)="edit(value)">EDIT</button>
                                                        <button mat-menu-item
                                                                (click)="delete(value._id)">REMOVE</button>
                                                </mat-menu>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <button mat-raised-button color="primary" class="add-btn" (click)="add()">
                <mat-icon>add</mat-icon>
        </button>
</div>