.example-form {
  width: 100%;
}

.alert-danger {
  color: red;
  font-size: 14px;
  margin: -14px 0 16px !important;
}

.w-100 {
  width: 90% !important;
}

.user-head {
  padding: 5px 5px 13px 5px;
  background-color: #fff;
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.modal-div {
  max-height: 92vh;
  overflow-y: auto;
}



.modal-div::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffff;
}

.modal-div::-webkit-scrollbar {
  width: 3px;
  background-color: #ffff;
}

.modal-div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #191c29;
}

