<div class="modal-div">
    <div class="user-head">
        Add User Details
    </div>
    <form class="example-form">
        <div fxLayout="row wrap">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput name='firstname' required minlength="4" #firstname="ngModel"
                    [(ngModel)]="masterDetails.name">
            </mat-form-field>
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert-danger">
                <div *ngIf="firstname.errors.required">
                    Name is required.
                </div>
                <div *ngIf="firstname.errors.minlength">
                    Name must be at least 4 characters long.
                </div>
            </div>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput name="title" required #title="ngModel" [(ngModel)]="masterDetails.title">
            </mat-form-field>
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert-danger">
                <div *ngIf="title.errors.required">
                    Title is required.
                </div>
            </div>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Mobile</mat-label>
                <input matInput name='mobile' required #mobile="ngModel" minlength="10" maxlength="10"
                    [(ngModel)]="masterDetails.mobile">
            </mat-form-field>
            <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert-danger">
                <div *ngIf="mobile.errors.required">
                    Mobile number is required.
                </div>
                <div *ngIf="mobile.errors.minlength">
                    Mobile number must be at least 10 characters long.
                </div>
            </div>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput name="dob" type="date" required #dob="ngModel" [(ngModel)]="masterDetails.dob">
            </mat-form-field>
            <div *ngIf="dob.invalid && (dob.dirty || dob.touched)" class="alert-danger">
                <div *ngIf="dob.errors.required">
                    Date of Birth is required.
                </div>
            </div>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Current Technology</mat-label>
                <input matInput name='tech' required #tech="ngModel"  [(ngModel)]="masterDetails.tech">
            </mat-form-field>
            <div *ngIf="tech.invalid && (tech.dirty || tech.touched)" class="alert-danger">
                <div *ngIf="tech.errors.required">
                   Current Technology is required.
                </div>
            </div>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>CTC</mat-label>
                <input matInput type='number' name="ctc" required #ctc="ngModel" [(ngModel)]="masterDetails.ctc">
            </mat-form-field>
            <div *ngIf="ctc.invalid && (ctc.dirty || ctc.touched)" class="alert-danger">
                <div *ngIf="ctc.errors.required">
                    CTC is required.
                </div>
            </div>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>ECTC</mat-label>
                <input matInput name='ectc' type='number' required #ectc="ngModel" [(ngModel)]="masterDetails.ectc">
            </mat-form-field>
            <div *ngIf="ectc.invalid && (ectc.dirty || ectc.touched)" class="alert-danger">
                <div *ngIf="ectc.errors.required">
                    ECTC is required.
                </div>
            </div>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Notice period</mat-label>
                <input matInput name="notice" type='number' required minlength="2" #notice="ngModel" [(ngModel)]="masterDetails.notice">
            </mat-form-field>
            <div *ngIf="notice.invalid && (notice.dirty || notice.touched)" class="alert-danger">
                <div *ngIf="notice.errors.required">
                    Notice Period is required.
                </div>
            </div>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Remarks</mat-label>
                <input matInput name="remarks" required #remarks="ngModel"  [(ngModel)]="masterDetails.remarks">
            </mat-form-field>
            <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                <div *ngIf="remarks.errors.required">
                    Remarks is required.
                </div>
            </div>
        </div>
        <mat-dialog-actions>
            <button *ngIf="details.mode == 'ADD'" mat-raised-button color="primary"
                (click)="add(masterDetails)">DONE</button>
            <button *ngIf="details.mode == 'EDIT'" mat-raised-button color="primary"
                (click)="add(masterDetails)">DONE</button>
            <button mat-raised-button color="primary" (click)="close()">CANCEL</button>
        </mat-dialog-actions>
    </form>
</div>