.example-form {
  width: 100%;
}


.w-100 {
  width: 90% !important;
}

.user-head {
  padding: 5px 5px 13px 5px;
  background-color: #fff;
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.modal-div {
  max-height: 610px;
  overflow: scroll;
}
