<div class="modal-div">
    <div class="user-head">
        Add User Details
    </div>
    <form class="example-form">
        <div fxLayout="row wrap">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput name='firtname' [(ngModel)]="masterDetails.name">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput name="title" [(ngModel)]="masterDetails.title">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Mobile</mat-label>
                <input matInput name='mobile' [(ngModel)]="masterDetails.mobile">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput name="dob" [(ngModel)]="masterDetails.dob">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Cureent Tech</mat-label>
                <input matInput name='tech' [(ngModel)]="masterDetails.tech">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>CTC</mat-label>
                <input matInput name="ctc" [(ngModel)]="masterDetails.ctc">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>ECTC</mat-label>
                <input matInput name='ectc' [(ngModel)]="masterDetails.ectc">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Notice period</mat-label>
                <input matInput name="notice" [(ngModel)]="masterDetails.notice">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Remarks</mat-label>
                <input matInput name="remarks" [(ngModel)]="masterDetails.remarks">
            </mat-form-field>
        </div>
        <mat-dialog-actions>
            <button *ngIf="details.mode == 'ADD'" mat-raised-button color="primary"
                (click)="add(masterDetails)">DONE</button>
                <button *ngIf="details.mode == 'EDIT'" mat-raised-button color="primary"
                (click)="add(masterDetails)">DONE</button>
            <button mat-raised-button color="primary" (click)="close()">CANCEL</button>
        </mat-dialog-actions>
    </form>
</div>